.main-field {
  @include flexbox(row);
  @include size(100vw, 100%);
  padding-top: 15vh;
}

.main-area {
  @include size(100%, 85vh);
  overflow-y: auto;
  gap: 20px;
  position: relative;
}

.main-area__header {
  @include font($third-font-family, xxx-large, bold, normal, $primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.main-area__text {
  @include size(50vw, auto);
  @include font($third-font-family, xx-large, normal, normal, $primary-color);
  text-align: center;
  background-color: $white;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: 0 4px 2px rgba(61, 58, 58, 0.915);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  @media (max-width: 1160px) {
    font-size: medium;
  }
}

.main-area__promo-codes {
  @include flexbox(row, center, center);
  flex-wrap: wrap;
  gap: 20px;
}

.promo-code {
  @include flexbox(column, center, center);
  @include size(40vw, auto);
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin-bottom: 20px;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  &__title {
    @include font($third-font-family, x-large, bold, normal, $primary-color);
    text-align: center;
    margin: 10px 0;
  }

  &__description {
    @include font($third-font-family, large, normal, normal, #555);
    text-align: center;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .promo-code {
    @include size(90vw, auto);
  }
}
