.about-container {
  height: 85vh;
  overflow-x: hidden;
}
.about-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
}
.about-title {
  @include font('Arial', clamp(18px, 5vw, 36px), bold, 1, $white);
  text-align: center;
  margin-top: 20px;
  text-shadow: $primary-color 0 4px 6px;
}
.about-content {
  @include flexbox(column);
  margin-top: 30px;
  flex-basis: 350px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid $light;
  background-image: $bca-gradient-second;
  transition: all 0.6s linear;
  &:hover {
    background-image: $btn-bca-color;
    transform: scale(1.03);
    box-shadow: 5px 5px 10px 5px #000000;
  }
  &:hover .about-photo {
    transform: translateY(-10px);
    filter: drop-shadow(0 0 14px $success-color);
  }
}
.about-image {
  height: 200px;
  width: 200px;
  margin-top: 15px;
}
.about-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem $light);
  transition: all 0.6s linear;
}
.about-link img {
  transition: all 0.6s linear;
}
.about-link {
  transition: all 0.6s linear;

  &:hover img {
    transform: scale(1.25) skew(-3deg);
  }
}

.about-name {
  margin-top: 10px;
  @include font($secondary-font-family, clamp(16px, 5vw, 28px), bold, 1, #d3f7d8);
  text-shadow: $primary-color 1px 6px 10px;
  text-align: center;
}

.about-position {
  margin-top: 5px;
  @include font($primary-font-family, clamp(14px, 4vw, 24px), 700, 1, $primary-color);
  opacity: 0.9;
}

.about-list {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 25px;
  margin-top: 15px;
  gap: 10px;
  max-width: 350px;
}

.about-item {
  position: relative;
  padding-left: 15px;
  transition: all 0.6s linear;

  &__link {
    transition: all 0.6s linear;
    @include font($primary-font-family, clamp(14px, 4vw, 16px), 500, 1.2, $white);

    &:hover {
      color: #ffffff4d;
      border-bottom: 1px solid $white;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: -10px;
    display: block;
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.about-email {
  &::after {
    background: url('./assets/email-9-svgrepo-com.svg');
  }
}
.about-location {
  &::after {
    background: url('./assets/country-direction-location-map-navigation-pin-svgrepo-com.svg');
  }
}
.about-education {
  &::after {
    background: url('./assets/education-cap-student-graduation-university-svgrepo-com.svg');
  }
}

.about-description {
  margin-top: 10px;
  text-align: justify;
  @include font($primary-font-family, clamp(14px, 4vw, 16px), 400, 1, #f3eded);
  height: 130px;
}
.about-bio,
.about-contact {
  margin-top: 10px;
  @include font($primary-font-family, clamp(14px, 4vw, 24px), 700, 1, $primary-color);
}
.about-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.about-contributions {
  text-align: center;
  transition: all 0.6s linear;
  padding: 10px;
  margin: 10px;
  margin-top: 32px;
  background: rgb(216, 247, 220);
  border-radius: 20px;

  &__title {
    @include font($primary-font-family, clamp(18px, 5vw, 36px), normal, 1, $primary-color);
    margin-bottom: 20px;
  }
  &__text {
    max-width: 1200px;  
    text-align: justify;
    @include font($primary-font-family, clamp(14px, 4vw, 20px), normal, 1, $primary-color);
    margin: 10px auto;
  }
}

.about-footer {
  padding: 10px;
  width: 100vw;
  background-image: $bca-gradient-second;
  margin-top: 6px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-title {
  position: relative;
  padding: 10px 10px 10px 40px;
  @include font('Arial', clamp(18px, 4vw, 24px), bold, 1, $white);

  &::after {
    content: '';
    position: absolute;
    background: url('./assets/github-svgrepo-com.svg');
    left: 15px;
    display: block;
    width: 33px;
    height: 33px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.footer-list {
  list-style-type: disc;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-item::marker{
  color:#1fda38;
}
.footer-link {
  transition: all 0.6s linear;
  @include font($primary-font-family, clamp(14px, 4vw, 20px), 700, 1, $white);
}

.footer-copyright {
  @include font($primary-font-family, clamp(14px, 4vw, 26px), 700, 1, $white);
}

.footer-logo__link svg {
  transition: all 0.6s linear;
}
.footer-logo__link:hover svg {
  fill: #70b306a6;
  stroke: #da1f1f;
  transform: scale(1.05);
}
