$bca-gradient:linear-gradient(135deg, #00a2ff, #3bd1d6, #04abec);
$form-bca-color: rgba(117, 81, 114, 0.8);
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$btn-bca-color: #a3e5e7;
$black: #000;
$white: #fff;

$primary-font-family: 'Times New Roman', Times, serif;
$secondary-font-family: Arial, sans-serif;
$font-size-base: 16px;
$font-weight-normal: normal;
$font-weight-bold: bold;
