@import './style/utilities/mixins.scss';

body {
  @include image("./assets/background-image.jpg", $position: top, $size: cover, $repeat: no-repeat, $width: auto, $height: auto);
  background-attachment: fixed;
  margin: 0;
  @include flexbox(column, space-between);
  @include size(100vw, 100vh);
  overflow: hidden;
}