@import '../../style/components/buttons.scss';
@import '../../style/components/form.scss';
@import '../../style/components/input.scss';
@import '../../style/components/label.scss';

.title-registration {
  @include font('Arial', clamp(32px, 8vw, 70px), bold, 1.5, $white);
}
.registration-main {
  background: $bca-gradient;
  height: 100%;
  @include flexbox(column, center, center);
}
.container {
  @include container($max-width: 1200px, $padding: 15px, $margin: 0 auto);
  @include flexbox(column, center, center);
}

.fieldset-users {
  @include flexbox(column, center, center);
}

.legend-registration {
  @include font('Arial', clamp(16px, 5vw, 24px), bold, 1.5, $success-color);
}

.datalist {
  background-color: red;
}
.form-registration {
  max-width: 1000px;
  width: 100%;
}

// .input-checkbox__adress:checked + .form-inner .fieldset__billing,
// .input-checkbox__adress:checked + .form-inner .fieldset__shipping {
//   display: none;
// }
// .input-checkbox__adress:checked + .form-inner .fieldset__addresses {
//   display: flex;
// }

.form-inner {
  display: flex;
  margin-top: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.fieldset {
  @include flexbox(column, center, center);
  margin-top: 5px;
}

.fieldset__addresses {
  width: 100%;
}

input[type='checkbox'] {
  height: 40px;
  width: 100px;
  appearance: none;
  outline: none;
  position: relative;
  background: #c6c6c6;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}
input[type='checkbox']:checked {
  background: #40e551;
}
input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background: #fff;
  top: -2px;
  left: -5px;
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
input:checked[type='checkbox']:before {
  background: blue;
  left: 70px;
}
